:root { --shbg: var( --skye ) }
.dark { --shbg: var( --midnight ) }

.site-heading {
    background: var( --shbg );
    border-bottom: 1px solid;
    border-color: var( --border-color );
    > * { flex: 1 1 auto }
    > :last-child {
        color: var( --color );
        flex: 1 1 auto;
        display: flex;
        justify-content: flex-end;
        gap: 2rem;
        padding-right: 0.5rem;
    }
    .nav-minor a { color: var( --color ) }
    &, & > :not( .sider-toggle-btn ) {
        align-items: center;
        display: flex;
    }
    &, & > .site-tags { column-gap: 0.5rem }
    .sider-toggle-btn {
        background: var( --charcoal );
        border: none;
        border-right: 2px solid var( --blue );
        color: var( --white );
        display: block;
        flex: 0 0 2rem;
        > * { font-size: 1rem }
    }
    .sider-toggle-btn,
    .branding,
    .logo,
    .pkg-title { height: var( --top-height ) }
    .branding {
        padding: 0 1.25rem;
        width: 32rem;
    }
    .logo {
        height: calc( var( --top-height ) - 0.75rem );
        transform: rotateZ( 45deg );
        width: 2rem;
        &-link {
            box-sizing: content-box;
            height: calc( var( --top-height ) - 1rem );
            padding-left: 0.5rem;
            width: 2.75rem;
        }
    }
    .pkg-title {
        border-bottom: 2px solid;
        color: var( --pink );
        font-size: 1.8333rem;
        height: auto;
        padding: 0 1rem;
        white-space: nowrap;
        &:hover { opacity: 0.75 }
        > a {
            color: inherit;
            font-family: cursive;
            font-weight: 900;
            font-variant: normal;
        }
    }
    .dark-mode-settings { margin-right: 1rem }
}