:root { --sbsider-bg: var( --background-color-mild ) }
.dark { --sbsider-bg: var( --background-color ) }

.site-body {
    display: flex;
    main {
        flex: 1 1 40rem;
        max-height: 66rem;
        min-width: 20rem;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0 1.5rem;
        scroll-behavior: smooth;
        .page-main {
            padding-bottom: 2.5rem;
        }
    }
    .site-faqs {
        @media ( max-width: 1399px ) {
            display: none;
        }
    }
    .site-tags {
        justify-content: flex-end;
        margin-top: 5px;
        text-align: right;
        // @debug
        // @media ( max-width: 936px ) {
        @media ( min-width: 836px ) {
            display: none;
        }
    }
    &-sider {
        background: var( --sbsider-bg );
        border: none;
        border-right: 1px solid var( --border-color );
        padding: 0.5rem;
        &.closed {
            display: none;
        }
    }
}